{% extends 'default.html' %}

{% block conteudo %}
<div class="container">
    <h2 class="my-3">Selecione o campeonato</h1>
</div>
<div class="container">
    <div class="row">
        {% for opcoes in listaSelect %}
        <div class="col align-self-center m-5">
            <div class="card">
                <img src="https://flagsapi.com/{{ opcoes.codigo }}/flat/64.png" alt="https://www.svgrepo.com/show/451667/image-missing.svg">
                <div class="card-body">
                  <h5 class="card-title">{{ opcoes.nome }}</h5>
                  <p class="card-text">Campeonato {{ opcoes.nome }}</p>
                  <a href="{{ url_for('campEscolhido', nome = opcoes.nome) }}" class="btn btn-primary">Selecionar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}