{% extends 'default.html' %}

{% block conteudo %}
<div class="container">
    <h2 class="my-3">Selecione o time</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col" style="max-width: 18rem;">
            <fieldset class="border p-2" style="border-radius: 10px;">
                {% for time in lista %}
                <div class="align-self-center">
                    <div class="d-grid m-2">
                          <a href="{{ url_for('timeEscolhido', nome = nome, time = time.Time) }}" class="btn btn-primary"><h5 class="card-title">{{ time.Time }}</h5></a>
                    </div>
                </div>
                {% endfor %}
            </fieldset>
        </div>
        <div class="col">
            <select class="form-select form-select-lg mb-3" aria-label="Large select example">
                <option selected>Selecione um time</option>
                {% for jogo in listaJ1 %}
                <option value="{{ jogo.id }}">
                    {{ jogo.nome }} | {{ jogo.hometeam }} x {{ jogo.awayteam }}
                </option>
                {% endfor %}
                {% for jogo in listaJ2 %}
                <option value="{{ jogo.id }}">
                    {{ jogo.nome }} | {{ jogo.awayteam }} x {{ jogo.hometeam }}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
{% endblock %}